# Project 01

### Sophia Arackal

# Introduction

In Project 01, the purpose of this project is to analyze the gapminder dataset. The analyses will be found in different sections 1-6 of this project. The gapminder dataset includes socioeconomic data from 184 countries recorded over a period of 219 years (from 1800 to 2018).

In [1]:
import pandas as pd
df = pd.read_csv('gapminder_data.txt', sep='\t')
df.head(10)

,country,year,continent,population,life_exp,gdp_per_cap,gini
0,Afghanistan,1800,asia,3280000,28.2,603,30.5
1,Albania,1800,europe,410000,35.4,667,38.9
2,Algeria,1800,africa,2500000,28.8,715,56.2
3,Angola,1800,africa,1570000,27.0,618,57.2
4,Antigua and Barbuda,1800,americas,37000,33.5,757,40.0
5,Argentina,1800,americas,534000,33.2,1510,47.7
6,Armenia,1800,europe,413000,34.0,514,31.5
7,Australia,1800,asia,351000,34.0,814,38.7
8,Austria,1800,europe,3210000,34.4,1850,33.4
9,Azerbaijan,1800,europe,880000,29.2,775,70.5

In [2]:
country = df.country.to_list()
continent = df.continent.to_list()
year = df.year.to_list()
population = df.population.to_list()
life_exp = df.life_exp.to_list()
pcgdp = df.gdp_per_cap.to_list()
gini = df.gini.to_list()

In [3]:
N = 100


print('Country:             ', country[N])
print('Continent:           ', continent[N])
print('Year:                ', year[N])
print('Population:          ', population[N])
print('Life Expectancy:     ', life_exp[N])
print('Per Capita GDP:      ', pcgdp[N])
print('Gini Index:          ', gini[N])

Country:              Maldives
Continent:            asia
Year:                 1800
Population:           42400
Life Expectancy:      32.6
Per Capita GDP:       842
Gini Index:           41.3

# Part 1: Displaying Past 20 Years of US Data

In Project 01, Part 1, I am displaying the last 20 years of data for the United States from the gapminder dataset.

In [4]:
print('Year\t Country\t Population\t LExp\t pcGDP\t Gini')
print('-------------------------------------------------------------')

for i in range(0, len(country)):
    
    if (country[i] == 'United States') and (year[i] >= 1999):
         print(year[i], '\t', country[i], '\t', population[i], '\t', life_exp[i], '\t', pcgdp[i], '\t', gini[i])

Year	 Country	 Population	 LExp	 pcGDP	 Gini
-------------------------------------------------------------
1999 	 United States 	 279000000 	 76.8 	 44700 	 40.5
2000 	 United States 	 282000000 	 76.9 	 46000 	 40.5
2001 	 United States 	 285000000 	 77.0 	 46000 	 40.5
2002 	 United States 	 288000000 	 77.1 	 46400 	 40.5
2003 	 United States 	 290000000 	 77.3 	 47300 	 40.5
2004 	 United States 	 293000000 	 77.5 	 48600 	 40.6
2005 	 United States 	 295000000 	 77.7 	 49800 	 40.7
2006 	 United States 	 298000000 	 77.9 	 50600 	 40.8
2007 	 United States 	 301000000 	 78.1 	 51000 	 40.8
2008 	 United States 	 303000000 	 78.3 	 50400 	 40.8
2009 	 United States 	 306000000 	 78.6 	 48600 	 40.7
2010 	 United States 	 309000000 	 78.7 	 49400 	 40.7
2011 	 United States 	 311000000 	 78.8 	 49800 	 40.7
2012 	 United States 	 313000000 	 78.9 	 50500 	 40.8
2013 	 United States 	 316000000 	 78.9 	 51000 	 41.0
2014 	 United States 	 318000000 	 78.9 	 51800 	 41.2
2015 	 United States 	 320000000 	 78.8 	 52800 	 41.3
2016 	 United States 	 322000000 	 78.8 	 53300 	 41.4
2017 	 United States 	 324000000 	 79.0 	 54200 	 41.5
2018 	 United States 	 327000000 	 79.1 	 54900 	 41.5

# Part 2: Selecting the 2018 Data

In Project 01, Part 2, I will only focusing on the data for the year 2018 for each of the 184 countries. I will create 6 lists for the categories: country, population, continent, life_exp, pcgdp, and gini.

In [5]:
# Answer 1.

country_2018 = []
population_2018 = []
continent_2018 = []
life_exp_2018 = []
pcgdp_2018 = []
gini_2018 = []


# Answer 2. 

for i in range(0, len(country)):
    if (year[i] == 2018):
        temp = country[i]
        country_2018.append(temp)

for i in range(0, len(population)):
    if (year[i] == 2018):
        temp1 = population[i]
        population_2018.append(temp1)

for i in range(0, len(continent)):
    if (year[i] == 2018):
        temp2 = continent[i]
        continent_2018.append(temp2)

for i in range(0, len(life_exp)):
    if (year[i] == 2018):
        temp3 = life_exp[i]
        life_exp_2018.append(temp3)

for i in range(0, len(pcgdp)):
    if (year[i] == 2018):
        temp4 = pcgdp[i]
        pcgdp_2018.append(temp4)

for i in range(0, len(gini)):
    if (year[i] == 2018):
        temp5 = gini[i]
        gini_2018.append(temp5)

In [6]:
# calulate sum 
global_population_2018 = sum(population_2018)
print('The global population in 2018 was ', global_population_2018, '.', sep='')

The global population in 2018 was 7595200200.

# Part 3: Identifying Countries with Largest and Smallest Populations

In Project 01, Part 3, I will show the lists of the countries with the largest and smallest populations in 2018.

In [7]:
#Largest Population
#Answer 1. Sorted list

population_2018_desc = sorted(population_2018, reverse=True)


#Answer 2. Use Sorted list to determine 10th largest population 

# to find the top 10 largest populations to determine what is the 10th largest population
population_2018_desc_10L = (population_2018_desc [:10])
#print(population_2018_desc_10L)

#To confirm the 10th largest population
population_2018_desc_10 = (population_2018_desc [9])
print(population_2018_desc_10)


#Answer 3. These are the first 2 lines in the output. 

print('Countries with Largest Populations in 2018')
print('------------------------------------------------------')
print('The population of ', country_2018 [12] , ' in 2018 was ', population_2018[12], '.', sep ="")  
print('The population of ', country_2018 [22] , ' in 2018 was ', population_2018[22], '.', sep ="")  

#to create space between answers
print('')

#Answer 4. 
print('Countries with Largest Populations in 2018')
print('------------------------------------------------------')

for i in range(0, len(country_2018)):
    
    if (population_2018[i] >= 131000000):
        print('The population of ', country_2018[i] , ' in 2018 was ', population_2018[i], '.', sep ="")

131000000
Countries with Largest Populations in 2018
------------------------------------------------------
The population of Bangladesh in 2018 was 166000000.
The population of Brazil in 2018 was 211000000.

Countries with Largest Populations in 2018
------------------------------------------------------
The population of Bangladesh in 2018 was 166000000.
The population of Brazil in 2018 was 211000000.
The population of China in 2018 was 1420000000.
The population of India in 2018 was 1350000000.
The population of Indonesia in 2018 was 267000000.
The population of Mexico in 2018 was 131000000.
The population of Nigeria in 2018 was 196000000.
The population of Pakistan in 2018 was 201000000.
The population of Russia in 2018 was 144000000.
The population of United States in 2018 was 327000000.

In [8]:
#Smallest Population

# Answer 1. Sorted list used to determine 10th smallest population .

population_2018_desc = sorted(population_2018, reverse=True)

# to find the top 10 smallest populations to determine what is the 10th smallest population
population_2018_desc_10SM = (population_2018_desc[174:])
#print(population_2018_desc_10SM)

# to confirm the 10th smallest population
population_2018_desc_10sm = (population_2018_desc[174])
print(population_2018_desc_10sm)


# Answer 2. These are the first 2 lines in the output. 

print('Countries with Smallest Populations in 2018')
print('------------------------------------------------------')
print('The population of ', country_2018 [4] , ' in 2018 was ', population_2018[4], '.', sep ="")  
print('The population of ', country_2018 [64] , ' in 2018 was ', population_2018[64], '.', sep ="")  

#to create space between answers
print('')

# Answer 3. 

print('Countries with Smallest Populations in 2018')
print('------------------------------------------------------')

for i in range(0, len(country_2018)):
    
    if (population_2018[i] <= 209000):
        
        print('The population of ', country_2018[i] , ' in 2018 was ', population_2018[i], '.', sep ="")

209000
Countries with Smallest Populations in 2018
------------------------------------------------------
The population of Antigua and Barbuda in 2018 was 103000.
The population of Grenada in 2018 was 108000.

Countries with Smallest Populations in 2018
------------------------------------------------------
The population of Antigua and Barbuda in 2018 was 103000.
The population of Grenada in 2018 was 108000.
The population of Kiribati in 2018 was 118000.
The population of Micronesia, Fed. Sts. in 2018 was 106000.
The population of Samoa in 2018 was 198000.
The population of Sao Tome and Principe in 2018 was 209000.
The population of Seychelles in 2018 was 95200.
The population of St. Lucia in 2018 was 180000.
The population of St. Vincent and the Grenadines in 2018 was 110000.
The population of Tonga in 2018 was 109000.

# Part 4: Identifying Countries with Highest and Lowest Life Expectancies

In Project 01, Part 4, I will show the lists of the countries with the highest life expectancies in 2018 and countries with the lowest life expectancies in 2018.

In [9]:
# Countries with Highest Life Expectancies
# Answer 

life_exp_2018_desc = sorted(life_exp_2018, reverse=True)


# To determine the top 10 countries with highest life expectancies
life_exp_2018_desc_10L = (life_exp_2018_desc [:10])
#print(life_exp_2018_desc_10L)


#to confirm the 10th country with highest life expectancy
life_exp_2018_desc_10 = (life_exp_2018_desc [9])
print(life_exp_2018_desc_10)


# since there was a 4 way tie for age =82.4, the output resulted in printing 12 lines instead of 10.

print('Countries with Highest Life Expectancy in 2018')
print('------------------------------------------------------')

for i in range(0, len(country_2018)):
    
    if (life_exp_2018[i] >= 82.4):
        print('The life expectancy of ', country_2018[i] , ' in 2018 was ', life_exp_2018[i], '.', sep ="")

82.4
Countries with Highest Life Expectancy in 2018
------------------------------------------------------
The life expectancy of Australia in 2018 was 82.9.
The life expectancy of France in 2018 was 82.6.
The life expectancy of Iceland in 2018 was 82.6.
The life expectancy of Israel in 2018 was 82.4.
The life expectancy of Italy in 2018 was 82.6.
The life expectancy of Japan in 2018 was 84.2.
The life expectancy of Luxembourg in 2018 was 82.4.
The life expectancy of Norway in 2018 was 82.4.
The life expectancy of Singapore in 2018 was 84.0.
The life expectancy of Spain in 2018 was 83.2.
The life expectancy of Sweden in 2018 was 82.4.
The life expectancy of Switzerland in 2018 was 83.5.

In [10]:
# Countries with Lowest Life Expectancies

# Answer 

life_exp_2018_desc = sorted(life_exp_2018, reverse=True)

# To determine the top 10 countries lowest life expectancies
life_exp_2018_desc_10L = (life_exp_2018_desc [174:])
#print(life_exp_2018_desc_10L)

# to confirm  the 10th lowest life expectancy
life_exp_2018_desc_10 = (life_exp_2018_desc [174])
print(life_exp_2018_desc_10)


print('Countries with Lowest Life Expectancy in 2018')
print('------------------------------------------------------')

for i in range(0, len(country_2018)):
    
    if (life_exp_2018[i] <= 60.5):
        
         print('The life expectancy of ', country_2018[i] , ' in 2018 was ', life_exp_2018[i], '.', sep ="")

60.5
Countries with Lowest Life Expectancy in 2018
------------------------------------------------------
The life expectancy of Afghanistan in 2018 was 58.7.
The life expectancy of Central African Republic in 2018 was 51.6.
The life expectancy of Chad in 2018 was 60.5.
The life expectancy of Guinea-Bissau in 2018 was 59.7.
The life expectancy of Lesotho in 2018 was 51.1.
The life expectancy of Sierra Leone in 2018 was 60.0.
The life expectancy of Somalia in 2018 was 58.0.
The life expectancy of Swaziland in 2018 was 58.6.
The life expectancy of Zambia in 2018 was 59.5.
The life expectancy of Zimbabwe in 2018 was 60.2.

# Part 5: Calculating GDP by Country

In Project 01, Part 5, I will create a list that contains the total GDP for each country in 2018 and the total GDP of the world.

In [11]:
# Answer 

gdp_2018 = []

for i in range(0, len(pcgdp)):
    if (year[i] == 2018):
        temp10 = (pcgdp[i] * population[i])
        gdp_2018.append(temp10)



#Answer

total_global_GDP_2018 = sum(gdp_2018)
print('The total global GDP in 2018 was ','$', total_global_GDP_2018, '.', sep ='')

The total global GDP in 2018 was $118225647770000.

In [12]:
#Answer
min_value = min(gdp_2018)
max_value = max(gdp_2018)

min_index = gdp_2018.index(min_value)
max_index = gdp_2018.index(max_value)

print('The country with the highest GDP in 2018 was ', country_2018[max_index], ' with a GDP of ', max_value, '.', sep='') 
print('The country with the lowest GDP in 2018 was ', country_2018[min_index], ' with a GDP of ', min_value, '.', sep='')

The country with the highest GDP in 2018 was China with a GDP of 22720000000000.
The country with the lowest GDP in 2018 was Kiribati with a GDP of 223020000.

# Part 6: Grouping by Continent

In Project 01, Part 6, I will calculate the total population, per capita GDP, and life expectancy for each of continent in 2018.

In [13]:
# Answer 1: Create a list of continent names, in alpohabetical order
continent_names = ['africa', 'americas', 'asia', 'europe']
continent_names = sorted(list(set(continent_2018)))
print(continent_names)

# Answer 2: Create empty lists
pcgdp_2018_by_continent = []
pop_2018_by_continent = []
life_exp_2018_by_continent = []

# Answer 3: Loop by continent and then by country
for continent in continent_names : # Loop by continent
   # Initialize/reset variabels
    temp_life_exp = 0
    temp_pop = 0
    temp_gdp = 0

    for idx in range(0, len(country_2018)) : # Loop by country
        if continent_2018[idx] == continent :
           # print(continent)
            temp_life_exp += life_exp_2018[idx] * population_2018[idx]
            temp_pop += population_2018[idx]
            temp_gdp += gdp_2018[idx]

         # Populate results
    pcgdp_2018_by_continent.append(int(temp_gdp / temp_pop))
    pop_2018_by_continent.append(temp_pop)
    life_exp_2018_by_continent.append(round(temp_life_exp / temp_pop,1))


# Print the results
# ====================================
print(f'{"Continent":<15}{"Population":>13}{"pcGDP":>12}{"Life Exp":>12}')
print('----------------------------------------------------')

for idx in range(0, len(continent_names)) :
    print(f'{continent_names[idx].title():<15}{"{:,}".format(pop_2018_by_continent[idx]):>13}{"${:,}".format(pcgdp_2018_by_continent[idx]):>12}{life_exp_2018_by_continent[idx]:>12}')

['africa', 'americas', 'asia', 'europe']
Continent         Population       pcGDP    Life Exp
----------------------------------------------------
Africa         1,287,150,200      $4,699        65.9
Americas       1,010,978,000     $28,708        77.5
Asia           4,455,113,000     $12,705        73.2
Europe           841,959,000     $31,533        78.4